<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beijing.ssfh.mapper.WorkReportMapper" >
  <resultMap id="BaseResultMap" type="cn.beijing.ssfh.entity.WorkReport" >
    <id column="work_report_id" property="workReportId" jdbcType="INTEGER" />
    <result column="user_info_id" property="userInfoId" jdbcType="INTEGER" />
    <result column="tomorrow_work_plan" property="tomorrowWorkPlan" jdbcType="VARCHAR" />
    <result column="work_report_content" property="workReportContent" jdbcType="VARCHAR" />
    <result column="work_report_date" property="workReportDate" jdbcType="DATE" />
    <result column="working_experience" property="workingExperience" jdbcType="VARCHAR" />
    <result column="review_work_report" property="reviewWorkReport" jdbcType="VARCHAR" />
    <result column="submit_report_time" property="submitReportTime" jdbcType="TIMESTAMP" />
    <result column="review_status" property="reviewStatus" jdbcType="INTEGER" />
    <result column="review_id" property="reviewId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    work_report_id, user_info_id, tomorrow_work_plan, work_report_content, work_report_date, 
    working_experience, review_work_report, submit_report_time, review_status, review_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work_report
    where work_report_id = #{workReportId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work_report
    where work_report_id = #{workReportId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.beijing.ssfh.entity.WorkReport" >
    insert into work_report (work_report_id, user_info_id, tomorrow_work_plan, 
      work_report_content, work_report_date, working_experience, 
      review_work_report, submit_report_time, review_status, 
      review_id)
    values (#{workReportId,jdbcType=INTEGER}, #{userInfoId,jdbcType=INTEGER}, #{tomorrowWorkPlan,jdbcType=VARCHAR}, 
      #{workReportContent,jdbcType=VARCHAR}, #{workReportDate,jdbcType=DATE}, #{workingExperience,jdbcType=VARCHAR}, 
      #{reviewWorkReport,jdbcType=VARCHAR}, #{submitReportTime,jdbcType=TIMESTAMP}, #{reviewStatus,jdbcType=INTEGER}, 
      #{reviewId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.beijing.ssfh.entity.WorkReport" >
    insert into work_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workReportId != null" >
        work_report_id,
      </if>
      <if test="userInfoId != null" >
        user_info_id,
      </if>
      <if test="tomorrowWorkPlan != null" >
        tomorrow_work_plan,
      </if>
      <if test="workReportContent != null" >
        work_report_content,
      </if>
      <if test="workReportDate != null" >
        work_report_date,
      </if>
      <if test="workingExperience != null" >
        working_experience,
      </if>
      <if test="reviewWorkReport != null" >
        review_work_report,
      </if>
      <if test="submitReportTime != null" >
        submit_report_time,
      </if>
      <if test="reviewStatus != null" >
        review_status,
      </if>
      <if test="reviewId != null" >
        review_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workReportId != null" >
        #{workReportId,jdbcType=INTEGER},
      </if>
      <if test="userInfoId != null" >
        #{userInfoId,jdbcType=INTEGER},
      </if>
      <if test="tomorrowWorkPlan != null" >
        #{tomorrowWorkPlan,jdbcType=VARCHAR},
      </if>
      <if test="workReportContent != null" >
        #{workReportContent,jdbcType=VARCHAR},
      </if>
      <if test="workReportDate != null" >
        #{workReportDate,jdbcType=DATE},
      </if>
      <if test="workingExperience != null" >
        #{workingExperience,jdbcType=VARCHAR},
      </if>
      <if test="reviewWorkReport != null" >
        #{reviewWorkReport,jdbcType=VARCHAR},
      </if>
      <if test="submitReportTime != null" >
        #{submitReportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewStatus != null" >
        #{reviewStatus,jdbcType=INTEGER},
      </if>
      <if test="reviewId != null" >
        #{reviewId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.beijing.ssfh.entity.WorkReport" >
    update work_report
    <set >
      <if test="userInfoId != null" >
        user_info_id = #{userInfoId,jdbcType=INTEGER},
      </if>
      <if test="tomorrowWorkPlan != null" >
        tomorrow_work_plan = #{tomorrowWorkPlan,jdbcType=VARCHAR},
      </if>
      <if test="workReportContent != null" >
        work_report_content = #{workReportContent,jdbcType=VARCHAR},
      </if>
      <if test="workReportDate != null" >
        work_report_date = #{workReportDate,jdbcType=DATE},
      </if>
      <if test="workingExperience != null" >
        working_experience = #{workingExperience,jdbcType=VARCHAR},
      </if>
      <if test="reviewWorkReport != null" >
        review_work_report = #{reviewWorkReport,jdbcType=VARCHAR},
      </if>
      <if test="submitReportTime != null" >
        submit_report_time = #{submitReportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewStatus != null" >
        review_status = #{reviewStatus,jdbcType=INTEGER},
      </if>
      <if test="reviewId != null" >
        review_id = #{reviewId,jdbcType=INTEGER},
      </if>
    </set>
    where work_report_id = #{workReportId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.beijing.ssfh.entity.WorkReport" >
    update work_report
    set user_info_id = #{userInfoId,jdbcType=INTEGER},
      tomorrow_work_plan = #{tomorrowWorkPlan,jdbcType=VARCHAR},
      work_report_content = #{workReportContent,jdbcType=VARCHAR},
      work_report_date = #{workReportDate,jdbcType=DATE},
      working_experience = #{workingExperience,jdbcType=VARCHAR},
      review_work_report = #{reviewWorkReport,jdbcType=VARCHAR},
      submit_report_time = #{submitReportTime,jdbcType=TIMESTAMP},
      review_status = #{reviewStatus,jdbcType=INTEGER},
      review_id = #{reviewId,jdbcType=INTEGER}
    where work_report_id = #{workReportId,jdbcType=INTEGER}
  </update>
</mapper>