<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.beijing.ssfh.mapper.CoursePlanVOMapper">
    <resultMap id="coursePlanVOMap" type="cn.beijing.ssfh.entity.CoursePlanVO">
        <id property="gradeId" column="grade_id"></id>
        <result property="schedules" column="schedule"></result>
        <result property="chapterDuration" column="chapter_duration"></result>
        <result property="childId" column="child_id"></result>
        <result property="chapterId" column="chapter_id"></result>
    </resultMap>

    <select id="selectCoursePlanVO" resultMap="coursePlanVOMap" parameterType="Integer">
        SELECT g.`grade_id`,cp.`schedules`,c.`chapter_duration`,c.`child_id`,c.`chapter_id`
        FROM grade g,course_plan cp,chapter c
        WHERE g.`grade_id`=cp.`grade_id`
        AND c.`chapter_id`=cp.`chapter_id`
        AND g.`grade_id`=#{gradeId}
    </select>
    <update id="updateCoursePlan" parameterType="cn.beijing.ssfh.entity.CoursePlanVO">
        UPDATE course_plan
        SET chapter_id=#{chapterId},schedules=#{schedules}
        WHERE grade_id=#{gradeId}
    </update>

</mapper>
