<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.beijing.ssfh.mapper.CourseTablesMapper">
  <resultMap id="BaseResultMap" type="cn.beijing.ssfh.entity.CourseTables">
    <id column="course_tables_id" jdbcType="INTEGER" property="courseTablesId" />
    <result column="day_time_id" jdbcType="INTEGER" property="dayTimeId" />
    <result column="classroom_id" jdbcType="INTEGER" property="classroomId" />
    <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
    <result column="date_time_id" jdbcType="INTEGER" property="dateTimeId" />
    <result column="teacher_name" jdbcType="INTEGER" property="teacherId" />
    <result column="chapter_name" jdbcType="VARCHAR" property="chapterName" />
  </resultMap>
  <sql id="Base_Column_List">
    course_tables_id, day_time_id, classroom_id, grade_id, date_time_id, teacher_id,
    chapter_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_tables
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_tables
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.beijing.ssfh.entity.CourseTables">
    insert into course_tables (course_tables_id, day_time_id, classroom_id, 
      grade_id, date_time_id, teacher_id,
      chapter_name)
    values (#{courseTablesId,jdbcType=INTEGER}, #{dayTimeId,jdbcType=INTEGER}, #{classroomId,jdbcType=INTEGER}, 
      #{gradeId,jdbcType=INTEGER}, #{dateTimeId,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER},
      #{chapterName,jdbcType=VARCHAR})
  </insert>

  <insert id="insertCourseTable" parameterType="cn.beijing.ssfh.entity.CourseTables">
    insert into course_tables values(#{courseTablesId},#{dayTimeId},#{classroomId},#{gradeId},#{dateTimeId},#{teacherId},#{chapterName})
  </insert>

  <insert id="insertSelective" parameterType="cn.beijing.ssfh.entity.CourseTables">
    insert into course_tables
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseTablesId != null">
        course_tables_id,
      </if>
      <if test="dayTimeId != null">
        day_time_id,
      </if>
      <if test="classroomId != null">
        classroom_id,
      </if>
      <if test="gradeId != null">
        grade_id,
      </if>
      <if test="dateTimeId != null">
        date_time_id,
      </if>
      <if test="teacherName != null">
        teacher_id,
      </if>
      <if test="chapterName != null">
        chapter_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseTablesId != null">
        #{courseTablesId,jdbcType=INTEGER},
      </if>
      <if test="dayTimeId != null">
        #{dayTimeId,jdbcType=INTEGER},
      </if>
      <if test="classroomId != null">
        #{classroomId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null">
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="dateTimeId != null">
        #{dateTimeId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        #{teacherName,jdbcType=INTEGER},
      </if>
      <if test="chapterName != null">
        #{chapterName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.beijing.ssfh.entity.CourseTables">
    update course_tables
    <set>
      <if test="dayTimeId != null">
        day_time_id = #{dayTimeId,jdbcType=INTEGER},
      </if>
      <if test="classroomId != null">
        classroom_id = #{classroomId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null">
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="dateTimeId != null">
        date_time_id = #{dateTimeId,jdbcType=INTEGER},
      </if>
      <if test="teacherName != null">
        teacher_id = #{teacherName,jdbcType=INTEGER},
      </if>
      <if test="chapterName != null">
        chapter_name = #{chapterName,jdbcType=VARCHAR},
      </if>
    </set>
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    update course_tables
    set day_time_id = #{dayTimeId,jdbcType=INTEGER},
    classroom_id = #{classroomId,jdbcType=INTEGER},
    grade_id = #{gradeId,jdbcType=INTEGER},
    date_time_id = #{dateTimeId,jdbcType=INTEGER},
    teacher_name = #{teacherName,jdbcType=VARCHAR},
    chapter_name = #{chapterName,jdbcType=VARCHAR}
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </update>


</mapper>