<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.beijing.ssfh.mapper.GradeToClassTableMapper">

    <resultMap id="GradeToClassTableMap" type="cn.beijing.ssfh.entity.GradeToClassTableVO">
        <id property="gradeId" column="grade_id"></id>
        <result property="weekName" column="week_name"></result>
        <result property="timePart" column="time_part"></result>
        <result property="classroomId" column="classroom_id"></result>
        <result property="teacherId" column="teacher_id"></result>
        <result property="chapterName" column="chapter_name"></result>
    </resultMap>
    <select id="queryAllClass" resultMap="GradeToClassTableMap">
        SELECT g.`grade_id`,w.`week_name`,stp.`time_part`,g.`classroom_id`,t.`teacher_id`,c.`chapter_name`
        FROM grade g,grade_sircle gs,weeks w,sircle_time_part stp,grade_teacher gt,teacher t,user_role ur,role r,course_plan cp,chapter c,teacher_course tc
        WHERE w.`week_id`=gs.`week_id`
        AND stp.`sircle_time_part_id`=gs.`sircle_time_part_id`
        AND g.`grade_id`=gs.`grade_id`
        AND g.`grade_id`=gt.`grade_id`
        AND t.`teacher_id`=gt.`teacher_id`
        AND t.`user_role_id`=ur.`user_role_id`
        AND r.`role_id`=ur.`role_id`
        AND g.`grade_id`=cp.`grade_id`
        AND cp.`chapter_id`=c.`chapter_id`
        AND t.`teacher_id`=tc.`teacher_id`
        AND c.`chapter_id`=tc.`chapter_id`
        AND g.`state_id`=7
        AND r.`role_id`=12
        ORDER BY w.`week_name`
    </select>


</mapper>
