<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beijing.ssfh.mapper.TbuserUserInfoVOMapper">
    <resultMap id="TbuserVO" type="cn.beijing.ssfh.pojo.vo.TbuserUserInfoVO">
        <association property="tbuser" resultMap="tbuserMap"/>
        <association property="teacher" resultMap="teacherMap"/>
        <association property="userInfo" resultMap="userInfoMap"/>
        <association property="userRole" resultMap="userRoleMap"/>
        <association property="role" resultMap="roleMap"/>
        <association property="address" resultMap="addressMap"/>
        <association property="state" resultMap="stateMap"/>
    </resultMap>
    <resultMap id="addressMap" type="Address">
        <id property="addressId" column="address_id"/>
        <result property="addressName" column="address_name"/>
        <result property="addressCode" column="address_code"/>
        <result property="addressLevel" column="address_level"/>
        <result property="addressType" column="address_type"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>
    <resultMap id="stateMap" type="State">
        <id property="stateId" column="state_id"/>
        <result property="stateName" column="state_name"/>
        <result property="stateType" column="state_type"/>
    </resultMap>
    <resultMap id="roleMap" type="Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>
    <resultMap id="userRoleMap" type="UserRole">
        <id property="userRoleId" column="user_role_id"/>
        <result property="tbuserId" column="tbuser_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>
    <resultMap id="tbuserMap" type="Tbuser" autoMapping="true">
        <id property="tbuserId" column="tbuser_id"/>
        <result property="userInfoId" column="user_info_id"/>
    </resultMap>
    <resultMap id="teacherMap" type="Teacher" autoMapping="true">
        <id property="teacherId" column="teacher_id"/>
        <result property="stateId" column="state_id"/>
        <result property="userRoleId" column="user_role_id"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="teacherTeachAge" column="teacher_teach_age"/>
        <result property="teacherMajor" column="teacher_major"/>
    </resultMap>
    <resultMap id="userInfoMap" type="UserInfo" autoMapping="true">
        <id property="userInfoId" column="user_info_id"/>
        <result property="addressId" column="address_id"/>
        <result property="employeeNum" column="employee_num"/>
        <result property="nativePlace" column="native_place"/>
        <result property="homeAddress" column="home_address"/>
        <result property="documentType" column="document_type"/>
        <result property="documentNumber" column="document_number"/>
        <result property="birthDate" column="birth_date"/>
        <result property="emergencyContact" column="emergency_contact"/>
        <result property="emergencyContactPhone" column="emergency_contact_phone"/>
        <result property="homeAddressCode" column="home_address_code"/>
        <result property="householdRegistrationCode" column="household_registration_code"/>
    </resultMap>
    <select id="findTbuserVOByTbuserId" resultMap="TbuserVO" parameterType="integer">
                SELECT tb.`tbuser_id`, st.`state_name`,ro.`role_name`,ui.*,te.* FROM
        tbuser tb,teacher te,user_info ui,
        user_role ur,role ro,state st,address ad
        WHERE tb.`tbuser_id`=ur.`tbuser_id`
        AND tb.`user_info_id`=ui.`user_info_id`
        AND te.`user_role_id`=ur.`user_role_id`
        AND ur.`role_id`=ro.`role_id`
        AND st.`state_id`=te.`state_id`
        AND ui.`address_id`=ad.`address_id`
        AND tb.`tbuser_id`=#{tbuserId}

    </select>
    <select id="findTbuserVOList" resultMap="TbuserVO">
            SELECT tb.`tbuser_id`, st.`state_name`,ro.`role_name`,ui.*,te.* FROM
        tbuser tb,teacher te,user_info ui,
        user_role ur,role ro,state st,address ad
        WHERE tb.`tbuser_id`=ur.`tbuser_id`
        AND tb.`user_info_id`=ui.`user_info_id`
        AND te.`user_role_id`=ur.`user_role_id`
        AND ur.`role_id`=ro.`role_id`
        AND st.`state_id`=te.`state_id`
        AND ui.`address_id`=ad.`address_id`



    </select>
</mapper>